
/*# sourceMappingURL=style.css.map */

@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i&display=swap');

@font-face{
  font-family: ailerons;
  src: url(https://rawcdn.githack.com/AlainBarrios/Fonts/682d01f44606d8c3d85367b3e259bc3d5f64c58a/Ailerons.otf?raw=true)
}

*,
*::before,
*::after {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
  -webkit-text-size-adjust: 100%;
}

:root {
  --fontSize: 2rem;
  --flexDirection: column;
}

body { margin: 0; }
html {
width: 100%;
height: 100%;
background: rgb(242, 233, 218); /* Old browsers */
font-family: ailerons, Montserrat, sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

.container-fluid{
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#texture-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh;
}

#canvass, #canvas {
  position: absolute;

}
.text-canvas {
  font-size: 4vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: white;
}

.plane {
  max-width: 340px;
  max-height: 250px;
  width: 100%;
  height: 100vh;
  position: absolute;

& img {
  display: none;
}
}
.title-page{
  color: #43B0D8;
  font-size: calc(var(--fontSize) * 0.7);
  margin-bottom: auto;
  flex-basis: 100%;
  text-align: center;
  position: relative;


  font-family: ailerons;
}

.characters {
  flex-basis: 100%;
  height: 100%;
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  flex-wrap: wrap;
  font-size: var(--fontSize);
  color: rgb(178, 116, 0);
  align-items: center;
  flex-direction: var(--flexDirection);
  position: relative;
  justify-content: center;
}

.tile-item {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.title-text {
  cursor: pointer;
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  flex-direction: column;
  flex-grow: 1;
}

.projects{
  font-family: ailerons;
  mix-blend-mode: difference;
&,
.date-of-birth,
.city-of-birth {
  transition: color 0.5s ease-out, opacity 0.5s ease-out;
  pointer-events: none;
}
}
.date-of-birth,
.city-of-birth {
  display: none;
  padding-top: 10px;
  font-size: 0.85rem;
  color: rgb(73, 48, 0);
}

.title-text:hover .character-name {
  color: rgba(255, 255, 255);

&:hover .date-of-birth, .title-text:hover .city-of-birth{
  opacity: 0
}
}

#canvas{
  position: relative;
  

}
.afterImage {
  position: absolute;
  overflow: hidden;
  top: 0;
  transform: translate(0px, 30%);
}
.afterImage img {
  position: fixed;
  transform: translate(0px,-100%);
}
.plane {
  max-width: 340px;
  max-height: 250px;
  width: 100%;
  height: 100%;
  position: absolute;
 
}

.plane img {
  display: none;
}

.beforeImage{
  background: antiquewhite;
  width: 100%;
  padding: 50px;
}